Auction-House-MVC/Auction-House-MVC.ServiceLayer/Connected Services/AuctionServiceReference/AuctionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuctionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/Auction_House/AuctionService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/Auction_House/AuctionService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/Auction_House/AuctionService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Auction_House_WCF.Models" />
      <xsd:import schemaLocation="http://localhost:8080/Auction_House/AuctionService?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:8080/Auction_House/AuctionService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost:8080/Auction_House/AuctionService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:8080/Auction_House/AuctionService?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuctionService_GetActiveAuctionsByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveAuctionsByUsername" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetActiveAuctionsByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveAuctionsByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetDoneAuctionsByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDoneAuctionsByUsername" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetDoneAuctionsByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDoneAuctionsByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_InsertAuction_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAuction" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_InsertAuction_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAuctionResponse" />
  </wsdl:message>
  <wsdl:message name="ImageData">
    <wsdl:part name="parameters" element="tns:ImageData" />
  </wsdl:message>
  <wsdl:message name="ImageData_Headers">
    <wsdl:part name="AuctionId" element="tns:AuctionId" />
    <wsdl:part name="DateAdded" element="tns:DateAdded" />
    <wsdl:part name="Description" element="tns:Description" />
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="ImgUrl" element="tns:ImgUrl" />
    <wsdl:part name="UserId" element="tns:UserId" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_InsertPicture_OutputMessage" />
  <wsdl:message name="DownloadRequest">
    <wsdl:part name="parameters" element="tns:DownloadRequest" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo">
    <wsdl:part name="parameters" element="tns:RemoteFileInfo" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="Length" element="tns:Length" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_InsertPictures_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPictures" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_InsertPictures_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPicturesResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetAuctions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuctions" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetAuctions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuctionsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetUserAuctions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAuctions" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetUserAuctions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAuctionsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetAuction_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuction" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetAuction_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuctionResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetImages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImages" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetLatestAuctions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestAuctions" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetLatestAuctions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestAuctionsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetBids_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBids" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetBids_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBidsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_InsertBid_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBid" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_InsertBid_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBidResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetMaxBidOnAuction_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxBidOnAuction" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetMaxBidOnAuction_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxBidOnAuctionResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_DeleteAuctionById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAuctionById" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_DeleteAuctionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAuctionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetAuctionByDesc_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuctionByDesc" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetAuctionByDesc_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuctionByDescResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuctionService">
    <wsdl:operation name="GetActiveAuctionsByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetActiveAuctionsByUsername" message="tns:IAuctionService_GetActiveAuctionsByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetActiveAuctionsByUsernameResponse" message="tns:IAuctionService_GetActiveAuctionsByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDoneAuctionsByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetDoneAuctionsByUsername" message="tns:IAuctionService_GetDoneAuctionsByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetDoneAuctionsByUsernameResponse" message="tns:IAuctionService_GetDoneAuctionsByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAuction">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/InsertAuction" message="tns:IAuctionService_InsertAuction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/InsertAuctionResponse" message="tns:IAuctionService_InsertAuction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/InsertPicture" name="ImageData" message="tns:ImageData" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/InsertPictureResponse" message="tns:IAuctionService_InsertPicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetPicture" name="DownloadRequest" message="tns:DownloadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetPictureResponse" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
    </wsdl:operation>
    <wsdl:operation name="InsertPictures">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/InsertPictures" message="tns:IAuctionService_InsertPictures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/InsertPicturesResponse" message="tns:IAuctionService_InsertPictures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuctions">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetAuctions" message="tns:IAuctionService_GetAuctions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetAuctionsResponse" message="tns:IAuctionService_GetAuctions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserAuctions">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetUserAuctions" message="tns:IAuctionService_GetUserAuctions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetUserAuctionsResponse" message="tns:IAuctionService_GetUserAuctions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuction">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetAuction" message="tns:IAuctionService_GetAuction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetAuctionResponse" message="tns:IAuctionService_GetAuction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetCategories" message="tns:IAuctionService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetCategoriesResponse" message="tns:IAuctionService_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetImages" message="tns:IAuctionService_GetImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetImagesResponse" message="tns:IAuctionService_GetImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestAuctions">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetLatestAuctions" message="tns:IAuctionService_GetLatestAuctions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetLatestAuctionsResponse" message="tns:IAuctionService_GetLatestAuctions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBids">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetBids" message="tns:IAuctionService_GetBids_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetBidsResponse" message="tns:IAuctionService_GetBids_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertBid">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/InsertBid" message="tns:IAuctionService_InsertBid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/InsertBidResponse" message="tns:IAuctionService_InsertBid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxBidOnAuction">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetMaxBidOnAuction" message="tns:IAuctionService_GetMaxBidOnAuction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetMaxBidOnAuctionResponse" message="tns:IAuctionService_GetMaxBidOnAuction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAuctionById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/DeleteAuctionById" message="tns:IAuctionService_DeleteAuctionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/DeleteAuctionByIdResponse" message="tns:IAuctionService_DeleteAuctionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuctionByDesc">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetAuctionByDesc" message="tns:IAuctionService_GetAuctionByDesc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetAuctionByDescResponse" message="tns:IAuctionService_GetAuctionByDesc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuctionService" type="tns:IAuctionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActiveAuctionsByUsername">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetActiveAuctionsByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoneAuctionsByUsername">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetDoneAuctionsByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAuction">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/InsertAuction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPicture">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/InsertPicture" style="document" />
      <wsdl:input name="ImageData">
        <soap:header message="tns:ImageData_Headers" part="AuctionId" use="literal" />
        <soap:header message="tns:ImageData_Headers" part="DateAdded" use="literal" />
        <soap:header message="tns:ImageData_Headers" part="Description" use="literal" />
        <soap:header message="tns:ImageData_Headers" part="FileName" use="literal" />
        <soap:header message="tns:ImageData_Headers" part="ImgUrl" use="literal" />
        <soap:header message="tns:ImageData_Headers" part="UserId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetPicture" style="document" />
      <wsdl:input name="DownloadRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoteFileInfo">
        <soap:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="Length" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPictures">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/InsertPictures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctions">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetAuctions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserAuctions">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetUserAuctions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuction">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetAuction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImages">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestAuctions">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetLatestAuctions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBids">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetBids" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBid">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/InsertBid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxBidOnAuction">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetMaxBidOnAuction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuctionById">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/DeleteAuctionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionByDesc">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetAuctionByDesc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IAuctionService_Streaming" type="tns:IAuctionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActiveAuctionsByUsername">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetActiveAuctionsByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoneAuctionsByUsername">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetDoneAuctionsByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAuction">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/InsertAuction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPicture">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/InsertPicture" style="document" />
      <wsdl:input name="ImageData">
        <soap:header message="tns:ImageData_Headers" part="AuctionId" use="literal" />
        <soap:header message="tns:ImageData_Headers" part="DateAdded" use="literal" />
        <soap:header message="tns:ImageData_Headers" part="Description" use="literal" />
        <soap:header message="tns:ImageData_Headers" part="FileName" use="literal" />
        <soap:header message="tns:ImageData_Headers" part="ImgUrl" use="literal" />
        <soap:header message="tns:ImageData_Headers" part="UserId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetPicture" style="document" />
      <wsdl:input name="DownloadRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoteFileInfo">
        <soap:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="Length" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPictures">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/InsertPictures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctions">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetAuctions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserAuctions">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetUserAuctions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuction">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetAuction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImages">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestAuctions">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetLatestAuctions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBids">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetBids" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBid">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/InsertBid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxBidOnAuction">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetMaxBidOnAuction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuctionById">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/DeleteAuctionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuctionByDesc">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetAuctionByDesc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuctionService">
    <wsdl:port name="BasicHttpBinding_IAuctionService" binding="tns:BasicHttpBinding_IAuctionService">
      <soap:address location="http://localhost:8080/Auction_House/AuctionService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IAuctionService_Streaming" binding="tns:BasicHttpBinding_IAuctionService_Streaming">
      <soap:address location="http://localhost:8080/Auction_House/AuctionService/Streaming" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>