Auction-House-MVC/Auction-House-MVC.ServiceLayer/Connected Services/AuctionServiceReference/AuctionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/Auction_House/AuctionService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Auction_House_WCF.Models" />
  <xs:import schemaLocation="http://localhost:8080/Auction_House/AuctionService?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetActiveAuctionsByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveAuctionsByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Auction_House_WCF.Models" minOccurs="0" name="GetActiveAuctionsByUsernameResult" nillable="true" type="q1:AuctionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoneAuctionsByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoneAuctionsByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Auction_House_WCF.Models" minOccurs="0" name="GetDoneAuctionsByUsernameResult" nillable="true" type="q2:AuctionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAuction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Auction_House_WCF.Models" minOccurs="0" name="aData" nillable="true" type="q3:AuctionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAuctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAuctionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="FileByteStream" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="Length" type="xs:long" />
  <xs:element name="DownloadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuctionNumber" type="xs:int" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPictures">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Auction_House_WCF.Models" minOccurs="0" name="images" nillable="true" type="q5:ArrayOfImageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPicturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPicturesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>