Auction-House-MVC/Auction-House-MVC.ServiceLayer/Connected Services/AuctionServiceReference/AuctionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Auction_House_WCF.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Auction_House_WCF.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/Auction_House/AuctionService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="AuctionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BidInterval" type="xs:double" />
      <xs:element minOccurs="0" name="BuyOutPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartPrice" type="xs:double" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuctionData" nillable="true" type="tns:AuctionData" />
  <xs:complexType name="ArrayOfImageData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageData" nillable="true" type="tns:ImageData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImageData" nillable="true" type="tns:ArrayOfImageData" />
  <xs:complexType name="ImageData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuctionId" type="xs:int" />
      <xs:element minOccurs="0" name="DateAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="FileStream" nillable="true" type="q1:Stream" />
      <xs:element minOccurs="0" name="ImgUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageData" nillable="true" type="tns:ImageData" />
  <xs:complexType name="ArrayOfAuctionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuctionData" nillable="true" type="tns:AuctionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuctionData" nillable="true" type="tns:ArrayOfAuctionData" />
  <xs:complexType name="ArrayOfImageInfoData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageInfoData" nillable="true" type="tns:ImageInfoData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImageInfoData" nillable="true" type="tns:ArrayOfImageInfoData" />
  <xs:complexType name="ImageInfoData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuctionId" type="xs:int" />
      <xs:element minOccurs="0" name="DateAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImgUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageInfoData" nillable="true" type="tns:ImageInfoData" />
  <xs:complexType name="ArrayOfBidData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BidData" nillable="true" type="tns:BidData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBidData" nillable="true" type="tns:ArrayOfBidData" />
  <xs:complexType name="BidData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="Auction_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Bid_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BidData" nillable="true" type="tns:BidData" />
</xs:schema>