Auction-House-WPF/ServiceLayer/Connected Services/AuctionServiceReference/AuctionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Auction_House_WCF.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Auction_House_WCF.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuctionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BidInterval" type="xs:double" />
      <xs:element minOccurs="0" name="BuyOutPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartPrice" type="xs:double" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuctionData" nillable="true" type="tns:AuctionData" />
</xs:schema>