Auction-House-WPF/ServiceLayer/Connected Services/AuctionServiceReference/AuctionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuctionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/Auction_House/AuctionService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/Auction_House/AuctionService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/Auction_House/AuctionService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Auction_House_WCF.Models" />
      <xsd:import schemaLocation="http://localhost:8080/Auction_House/AuctionService?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuctionService_GetActiveAuctionsByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveAuctionsByUsername" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetActiveAuctionsByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveAuctionsByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetDoneAuctionsByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDoneAuctionsByUsername" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetDoneAuctionsByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDoneAuctionsByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_InsertAuction_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAuction" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_InsertAuction_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAuctionResponse" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo">
    <wsdl:part name="parameters" element="tns:RemoteFileInfo" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="Length" element="tns:Length" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_InsertPicture_OutputMessage" />
  <wsdl:message name="DownloadRequest">
    <wsdl:part name="parameters" element="tns:DownloadRequest" />
  </wsdl:message>
  <wsdl:portType name="IAuctionService">
    <wsdl:operation name="GetActiveAuctionsByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetActiveAuctionsByUsername" message="tns:IAuctionService_GetActiveAuctionsByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetActiveAuctionsByUsernameResponse" message="tns:IAuctionService_GetActiveAuctionsByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDoneAuctionsByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetDoneAuctionsByUsername" message="tns:IAuctionService_GetDoneAuctionsByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetDoneAuctionsByUsernameResponse" message="tns:IAuctionService_GetDoneAuctionsByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAuction">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/InsertAuction" message="tns:IAuctionService_InsertAuction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/InsertAuctionResponse" message="tns:IAuctionService_InsertAuction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/InsertPicture" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/InsertPictureResponse" message="tns:IAuctionService_InsertPicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetPicture" name="DownloadRequest" message="tns:DownloadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetPictureResponse" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuctionService" type="tns:IAuctionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActiveAuctionsByUsername">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetActiveAuctionsByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoneAuctionsByUsername">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetDoneAuctionsByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAuction">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/InsertAuction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPicture">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/InsertPicture" style="document" />
      <wsdl:input name="RemoteFileInfo">
        <soap:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="Length" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetPicture" style="document" />
      <wsdl:input name="DownloadRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoteFileInfo">
        <soap:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="Length" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IAuctionService_Streaming" type="tns:IAuctionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActiveAuctionsByUsername">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetActiveAuctionsByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoneAuctionsByUsername">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetDoneAuctionsByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAuction">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/InsertAuction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPicture">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/InsertPicture" style="document" />
      <wsdl:input name="RemoteFileInfo">
        <soap:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="Length" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetPicture" style="document" />
      <wsdl:input name="DownloadRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoteFileInfo">
        <soap:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="Length" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuctionService">
    <wsdl:port name="BasicHttpBinding_IAuctionService" binding="tns:BasicHttpBinding_IAuctionService">
      <soap:address location="http://localhost:8080/Auction_House/AuctionService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IAuctionService_Streaming" binding="tns:BasicHttpBinding_IAuctionService_Streaming">
      <soap:address location="http://localhost:8080/Auction_House/AuctionService/Streaming" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>